header{ /*definindo estilos para minha header fixa*/
    background-color: var(--color-branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 14px 20px 14px 50px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

:root{ /*adicionando variáveis para as cores do projeto*/
    --color-azul: #004AAD;
    --color-verde-claro: #2bc866;
    --color-verde-escuro: #1A9047;
    --color-branco: #fff
}

.containerLogo{ /*Definindo estilos para o minha container com minha logo*/
    color: var(--color-azul); 
    display: flex;
    align-items: center;
    gap: 1rem;
}

.containerLogo img{
    margin-bottom: 11px;
}

.navegacaoPagina{ /*Definindo estilos para os links para alternancia entre as páginas*/
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navegacaoPagina li{
    list-style: none;
}

.navegacaoPagina li  a{
    color: var(--color-azul);
    font-weight: bold;
    text-decoration: none;
}

#btnEntrar {
    color: var(--color-verde-claro);
    border: 1px solid var(--color-verde-claro);
    background-color: var(--color-branco);
    margin-right: 8px;
}

#btnCadastre_se{
    background-color: var(--color-verde-escuro);
    border: 1px solid var(--color-verde-escuro);
    color: var(--color-branco);
}

.containerBotoes button{
    padding: 7px 18px;
    border-radius: 9px;
    cursor: pointer;
}

main{
    margin-top: 150px;
}

@media screen and (max-width: 430px){ /*Adicionando resposnsividade para os elementos para um celular*/
    header{
        padding: 15px 0;
        justify-content: center;
        gap: 0.5rem;
    }

    .containerBotoes button{
        padding: 9px 25px;
        
    }
}

@media screen and (min-width: 431px) and (max-width: 800px){ /*adicionando resposividade para os elemento de um tablet*/
    header{
        justify-content: center;
        gap: 1rem;
    }
}
