main{
    background-color: var(--color-verde-claro);
    margin-bottom: 100px;
    padding: 0 100px;

    display: flex;
    align-items: center;
}

:root{ /*adicionando variáveis para as cores do projeto*/
    --color-azul: #004AAD;
    --color-verde-claro: #2bc866;
    --color-verde-escuro: #1A9047;
    --color-branco: #fff
}

.containerPrincipal{
    color: var(--color-branco);
    padding: 150px 0;
}

.tituloPrincipal{
    font-size: 50px;
}

.primeiro-paragrafo{
    padding: 30px 0;
}

.segundo-paragrafo{
    line-height: 2rem;
    margin-bottom: 2rem;
}

.containerLogos{
    width: 100%;
    background-color: var(--color-branco);
    padding: 3rem;

    border-radius: 50px;
}

.containerImagem img{
    width: 350px;
}

@media screen and (max-width: 430px){ /*Adicionando resposnsividade para os elementos para um celular*/
    main{
        padding: 0;
    }

    .containerPrincipal{
        padding: 55px 0;
        text-align: center;
    }

    .containerImagem img{
        display: none;
    }

    .tituloPrincipal{
        font-size: 40px;
    }

    .containerLogos{
        width: 90%;
        margin: auto;
    }
    
}

@media screen and (min-width: 431px) and (max-width: 834px){ /*adicionando resposividade para os elemento de um tablet*/
    .tituloPrincipal{
        font-size: 35px;
    }
}
