:root{ /*adicionando variáveis para as cores do projeto*/
    --color-azul: #004AAD;
    --color-verde-claro: #2bc866;
    --color-verde-escuro: #1A9047;
    --color-branco: #fff
}

.containerPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerPrincipal h1{
    color: var(--color-verde-claro);
    font-size: 50px;
}

.containerInput{
    display: flex;
    align-items: center;
}

.formularioRastreio input{
    padding: 10px 10px;
    width: 600px;
    margin: 40px 10px 40px 0;
    border-radius: 5px;
    transform: none;
}

.botaoRastreio{
    background-color: #6a7885;
    border: 1px solid #6a7885;
    border-radius: 5px;
    padding: 10px;

    display: flex;
    align-items: center;
    cursor: pointer;
}

.iconeButtom{
    height: 20px;
}

@media screen and (max-width: 430px){ /*Adicionando resposnsividade para os elementos para um celular*/
    .containerPrincipal{
        padding: 50px 0;
    }

    .containerPrincipal h1{
        text-align: center;
    }

    .formularioRastreio input{
        width: 100%;
    }

    .banner{
        width: 100%;
    }
}

@media screen and (min-width: 431px) and (max-width: 834px){ /*adicionando resposividade para os elemento de um tablet*/
    .banner{
        width: 100%;
    }
}
